/* ********************************** */
/*               BANNER               */
/* ********************************** */
.banner {
	background-image: linear-gradient(100deg, #000000, #00000020),
		url('images2/pixelcut-export.jpeg');
	height: 58rem;
	background-size: cover;
	background-position: center;
	display: block;
}

.content-banner {
	max-width: 100rem;
	margin: 0 auto;
	padding: 7rem 0;
}

.content-banner p {
	color: orangered;
	font-size: 1.2rem;
	margin-bottom: -0.3rem;
	font-weight: 500;
}

.content-banner h2 {
	color: #fff;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.content-banner a {
	margin-top: 1rem;
	text-decoration: none;
	color: #ffffff;
	background-color: orangered;
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
}

.content-banner img {
	left: 22rem;
	width: 300px;
	height:300px;
}
/* Banner */
@media (max-width: 480px) {
    .banner {
        height: auto;
        padding: 20px;
    }

    .content-banner {
        padding: 2rem;
        text-align: center;
    }

    .content-banner h2 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
    }

    .content-banner p {
        font-size: 1.4rem;
    }

    /* Ajustes del logo */
    .hero img {
        width: 150px;
        height: auto;
    }
}

