
/* ********************************** */
/*            TOP PRODUCTS            */
/* ********************************** */
.top-products {
	margin-top: 3%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container-options span {
	color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
}

.container-options span:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.container-options span.active {
	background-color: var(--primary-color);
	color: #fff;
}

.wrapper {
	display: flex;
	justify-content: space-around;
	gap: 20px;
	width: 90%;
}
.card {
	right: -5%;
	width: 280px;
	height: 360px;
	background: #8b8b8b;
	display: flex;
	align-items: flex-end;
	padding: 2rem 1rem;
	position: relative;
	transition: 0.5s all ease-in-out;
	border-radius: 30px;
}
.card:hover {
	transform: translateY(-10px);
}
.card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, rgba(13, 36, 63, 0.3), rgb(163, 61, 14));
	z-index: 2;
	opacity: 0;
	transition: 0.5s all;
	border-radius: 30px;
}
.card:hover::before {
	opacity: 1;
}

.card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 30px;
}
.card .info {
	position: relative;
	color: #ffffff;
	z-index: 3;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s all;
}
.card:hover .info {
	opacity: 1;
	transform: translateY(0);
}

.card .info h1 {
	font-size: 350%;
	line-height: 40px;
	margin-bottom: 5px;
}
.card .info p {
	font-size: 15px;
	margin-bottom: 10px;
}
.card .info .btn {
	background: rgb(255, 255, 255);
	padding: 0.5rem 1rem;
	color: #000000;
	font-size: 14.5px;
    font-family: Poppins;
	cursor: pointer;
	border-radius: 30px;
	text-decoration: none;
	font-weight: bold;
	transition: .4s ease-in-out;
}


button {
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	text-shadow: none !important;
  }

.card .info .btn:hover {
	background: rgb(255, 51, 0);
	color: #ffffff;
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}

.precio {
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
}
@media (max-width: 480px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .card {
        width: 90%;
        right: 0;
    }
}