
/*reseñas*/

.testimonials-container {
	margin-bottom: 40%;
	margin-bottom: 50%;
	max-width: 1500px;
	padding: 40px 20px;
	text-align: center;
  }


.title h2 {
   text-align: center;
  font-size: 315%;
	color: #000000;
	margin-bottom: 10px;

  }

  .subtitle {
	color: #ffffff;
	margin-bottom: 50px;
	font-size: 0.9em;
  }

  .slider-container {
	position: relative;
	overflow: hidden;
	padding: 20px;
  }

  .slider-track {
	display: flex;
	transition: transform 0.5s ease;
  }

  .testimonial-slide {
	min-width: 100%;
	display: flex;
	justify-content: center;
	gap: 30px;
	opacity: 0;
	transition: opacity 0.5s ease;
	position: absolute;
	left: 0;
  }

  .testimonial-slide.active {
	opacity: 1;
	position: relative;
  }

  .testimonial-card {
	background: rgb(255, 72, 0);
	padding: 30px;
	border-radius: 10px;
	width: 300px;
	text-align: center;
	box-shadow: 0 5px 5px rgba(22, 22, 22, 0.479);
	position: relative;
  }

  .quote-mark {
	position: absolute;
	top: 20px;
	left: 20px;
	color: #f0f321;
	font-size: 24px;
	opacity: 100%;
  }

  .profile-img {
	width: 110px;
	height: 105px;
	border-radius: 50%;
	margin: 0 auto 5px;
	box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  }

  .stars {
	color: #ffd000;
	margin: 10px 0;
  }

  .testimonial-text {
	color: #ffffff;
	font-size: 0.9em;
	font-size: 12px;
	line-height: 1.6;
	margin: 15px 0;
  }

  .client-name {
	color: #ffffff;
	font-weight: bold;
	margin: 5px 0;
	font-size: 11px;
	margin: 3px 0;
  }

  .client-position {
	color: #f0ece4c4;
	font-size: 0.8em;
	font-size: 9px;
  }

  .slider-dots {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-top: 30px;
  }

  .dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #ddd;
	cursor: pointer;
	transition: all 0.5s ease;
  }

  .dot.active {
	background: orangered;
	width: 25px;
	border-radius: 5px;
  }

  .slider-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background: #ff3300;
	border: none;
	border-radius: 50%;
	color: white;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	transition: all 0.45s ease;
	font-size: 1.2em;
  }

  .prev {
	left: 15px;
  }

  .next {
	right: 15px;
  }

  .slider-arrow:hover {
	background: #ff4c16;
	transform: translateY(-50%) scale(1.1);
  }

  @media (max-width: 480px) {
      .testimonial-slide {
        flex-direction: column;
        gap: 2rem;
    }

    .testimonial-card {
        width: 90%;
        margin: 0 auto;
    }

    .slider-arrow {
        display: none;
    }
  }