body{
	font-family: "Poppins", sans-serif;
	margin: 0;
    padding: 0;
    width: 100%;
}


:root {
	--primary-color:#fc4c00;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;	  
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}


.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}





/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content {
	background-color: rgb(255, 255, 255)
}
/* Estilo base para el menú principal */
.main-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    margin-right: 20px;
}

/* Ocultar el botón del menú hamburguesa por defecto */
.menu-toggle {
    display: none;
}

/* Media query para dispositivos móviles (menos de 768px) */
@media screen and (max-width: 768px) {
    .main-menu {
        display: none; /* Oculta el menú horizontal en móviles */
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #fff;
        flex-direction: column;
        padding: 20px;
    }

    .main-menu.active {
        display: flex; /* Muestra el menú cuando está activo */
    }

    .main-menu li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block; /* Muestra el botón hamburguesa solo en móviles */
    }
}

/* Estilos para pantallas grandes (más de 768px) */
@media screen and (min-width: 769px) {
    .main-menu {
        display: flex !important; /* Fuerza la visualización del menú en desktop */
    }
}


